/******************************************************************
	GLOBAL STYLESHEET
  *****************************************************************/
  
    
  
  
/*------------------------------------------------------------
	------------ Default Styles ------------
------------------------------------------------------------*/

html, body {
	height: 100%;
	font-family: 'Raleway', sans-serif;
	
}

.container {
	margin-bottom: 50px;
} /* FOR THE STICKY FOOTER TO WORK */
.introduction-copy {
	font-size: 120%;
	font-weight: 100;
	line-height: 23px;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #000;
	margin: 1em 0;
	padding: 0;
}
.row {

margin-right: 0px;
margin-left: 0px;

}
a {
color: #d81820;
text-decoration: none;}

.extra-small {font-size:75%}
.extra-extra-small {font-size:55%}

.downloads {background-color:white; padding:10px;}

p {font-weight: lighter;}

.breadcrumb {
	background-color: transparent;
	padding-left: 0px;
	margin-top: 20px;
}
.breadcrumb a {
	color: #000;
}
.m-b-10 {
	margin-bottom: 10px;
}
.m-b-20 {
	margin-bottom: 20px;
}
.m-b-30 {
	margin-bottom: 30px;
}
.m-b-40 {
	margin-bottom: 40px;
}
.m-b-50 {
	margin-bottom: 50px;
}

.p-t-10 {padding-top: 10px;}


.padding-0 {padding:0px;}

.body-padding {
	margin-top: 180px;
}
.google-map {	

	
	}
.company-details {background-color:#5e5e5e; color:white; padding-bottom: 1px;}
.company-details p { position:relative; text-align:center; }

	
.google-map .col-md-12 {padding-right: 0px;
padding-left: 0px;}

#secondary-page {
	background-color: #99bbc9;
	-webkit-box-shadow: 2px 19px 6px -13px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 2px 19px 6px -13px rgba(0, 0, 0, 0.06);
	box-shadow: 2px 19px 6px -13px rgba(0, 0, 0, 0.06);
	border: none;
	margin-bottom: 0px;
}
#priamry-page {
	background-color: rgba(152, 193, 253, 0.2);
	-webkit-box-shadow: 2px 19px 6px -13px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 2px 19px 6px -13px rgba(0, 0, 0, 0.06);
	box-shadow: 2px 19px 6px -13px rgba(0, 0, 0, 0.06);
	border: none;
	margin-bottom: 0px;
}
.nav-height {
	height: 130px;
}

ol, ul {
    font-weight: lighter;  
}

/*------------------------------------------------------------
	------------ Colour Palette ------------
------------------------------------------------------------*/

.blue {
	background-color: rgba(152, 193, 253, 0.2);
	height: 100%;
}

.grey {background-color: rgba(119,136,153,0.2);
	height: 100%;}

.primary-brand-color {
	color: #d81820;
}



/*------------------------------------------------------------
	------------ Navbar ------------
------------------------------------------------------------*/

.primary-navigation {
	background-color: red;
	border: none;
	margin-bottom: 0px;
}
.secondary-navigation {
	background-color: blue;
	border: none;
	margin-bottom: 0px;
}
.nav-padding-left {
	padding-left: 25%!important;
	padding-top: 80px;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}
.navbar-default {
	color: #000;
	background-color: rgba(225, 225, 225, 0.8);
	border-color: transparent;
}
.navbar-default .navbar-nav > li > a {
	color: #000;
}
.navbar-default .navbar-nav > .dropdown > a .caret {
	border-top-color: none;
	border-bottom-color: none;
}
.navbar-default .navbar-brand {
	color: #fff;
}
.menu-large {
	position: static !important;
}
.megamenu {
	padding: 20px 0px;
	width: 100%;
}
.megamenu> li > ul {
	padding: 0;
	margin: 0;
}
.megamenu> li > ul > li {
	list-style: none;
}
.megamenu> li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #333333;
	white-space: normal;
	/*font-size: 13px;*/
}

.megamenu> li > ul > .dropdown-header + li > a {
    font-weight: bold;
}

.megamenu> li ul > li > a:hover, .megamenu> li ul > li > a:focus {
	text-decoration: none;
	color: #fff;
	background-color:#b72d3d;
	
}
.megamenu.disabled > a, .megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
	color: #999999;
}
.megamenu.disabled > a:hover, .megamenu.disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.megamenu.dropdown-header {
	color: #428bca;
	font-size: 18px;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-color: rgba(225, 225, 225, 0.9);
	padding-bottom: 40px;
	padding-top: 30px;
}
.dropdown-header h5 {
	color: black;
	font-size: 13px;
}

/*.dropdown-header + li  {
    font-weight: bold;
}*/

.nav-icons {
	position: absolute;
	left: -20px;
	top: -1px;
}
.navbar-nav>li>a {
	padding-left: 2px;
}
.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 15px;
	margin-bottom: 8px;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 0px;
	z-index: 99999;
}

.navbar-right {
float: right !important;
margin-right: -0px!important;}


.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}
.navbar-default .navbar-toggle {
	border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff
}
.navbar-toggle .icon-bar {
	background-color: #000;
	display: block;
	width: 55px;
	height: 2px;
	border-radius: 0px;
}
.menu-title {
	position: absolute;
	left: -35px;
	top: 7px;
	font-size: 12px;
	color: #000;
	font-weight: bold;
}




/*------------------------------------------------------------
	------------ Body Elements ------------
------------------------------------------------------------*/

.btn-carousel {
	border-radius: 0px;
	background-color: transparent;
	border: white solid 1px;
	width: 200px;
}

.btn-carousel {color:white;}

.btn-carousel:hover {
	border-radius: 0px;
	background-color: #FFFFFF;
	color: #000;
	border: white solid 1px;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	transition: .7s;
}
.thumbnail {
	border-radius: 0px;
	border: #fff solid 0px;
	padding: 0px;
}

.thumbnails {padding: 0px;}

.thumbnails .portfolio-caption .body-copy {
	padding-bottom:0;
}

.thumbnail .quotes {
	padding: 40px;
	font-style: italic;
	color: #9e9fa1;
	font-size: 90%;
}
.thumbnail .names {
	padding-bottom: 2px;
	padding-top: 2px;
	background-color: #8aaebe;
	color: #fff;
	
}

.clipping-wrap {
    max-height:350px;
    overflow:hidden;

  }

.img-clip {
    width: 100%; 
    min-height: 400px;

}



.names h5 {font-weight:bold;}

.body-copy {
	color: #000;
	padding-bottom: 10px;
	line-height: 150%;
	font-weight: 100;
	font-size: 95%;
	padding-left: 0px;
}
/*.body-ul {
	padding-left: 15px;
	line-height: 30px;
}
.body-ul > li {
	color: red
}
.body-ul > li > span {
	color: black;
	height: 25px;
}*/

.body-ul, .col-lg-7 ul,
.body-copy ul{
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
	font-weight: 100;
	font-size: 95%;
}

.body-copy ul li:before,
.col-lg-7 ul li:before,
.body-ul > li:before { 
    content: "";
    border-color: transparent #dd302b;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.50em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 1.3em;
    position: relative;
}

.DarkGreen {color:green;}

.col-lg-7 ul {
	line-height:150%;
}

.col-lg-7 ul li:before {  top: 0.9em;}

.body-copy ul li:before {    top: 1.2em; }

.indent-ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
	font-weight: 100;
	font-size: 95%;
}

.col-lg-7 ul ul li,
.indent-ul > li { 
	list-style:circle outside;
}

/* .body-copy .indent-ul li:before, */
.col-lg-7 ul ul li:before,
.body-ul .indent-ul > li:before  { 
	display:none;	
}

.panel-title {color:#fff;}

.panel {
	border: 1px solid transparent;
	background-color: transparent;
	-webkit-box-shadow: 0px;
	box-shadow: 0px
}

div.panel-body.body-copy {padding-left: 15px}

.panel a:hover {
	text-decoration: none;
}
.panel-group .panel {
	margin-bottom: 0;
	border-radius: 0px;
}
.panel-default .panel-heading {
	color: #333;
	background-color: rgba(138, 174, 190, 1);
	border-radius: 0px;
	color: white;
}

.panel-heading:hover {opacity:0.7;
-webkit-transition: .4s;
-moz-transition: .4s;
transition: .4s;
text-decoration: none;}

.panel-body {
	background-color: #ebf7fe;
}

.row.contact {
	margin-top:180px;
}


/*------------------------------------------------------------
	------------ Carousel  only ------------
------------------------------------------------------------*/	


.carousel-inner {
	height: 100%;
}
.carousel, .item, .active {
	height: 100%;
}
.fill {
	width: 100%;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.carousel-caption {
	top: 250px;
	height: 110px;
	padding-top: 35px;
	text-align: left;
	padding-left: 8%;
}

.portfolio-caption {
	background-color: rgba(119,136,153,0.2); 
	font-size:110%;
	min-height:100px;
}

.carousel-caption h2 {
	color: #FFFFFF;
	font-size: 250%;
}
.brand-accent {
	position: relative;
	height: 50px;
	width: 50px;
	top: 25px;
	left: -25px;
}
.carousel-control .glyphicon, .carousel-control .icon-prev, .carousel-control .icon-next {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 5;
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -25px;
	font-family: 'Raleway', sans-serif;
}
.carousel-control .icon-prev:before {
	content: url('../img/left-carousel.png');/*content: ''; /*\2039*/
}
.carousel-control .icon-next:before {
	content: url('../img/right-carousel.png');/*content: ''; \203a*/
}


/*------------------------------------------------------------
	------------ Portfolio only ------------
------------------------------------------------------------*/
.portfolio { opacity:1;}
.portfolio:hover { opacity:0.8; text-decoration:none;}


/*------------------------------------------------------------
	------------ Footer only ------------
------------------------------------------------------------*/

.footer-bottom {
	height: 100px;
	font-size: 120%;
	font-weight: bold;
	-webkit-box-shadow: 0px -22px 41px -34px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px -22px 41px -34px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -22px 41px -34px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.7);
	
}
.navbar-fixed-bottom {
	-webkit-box-shadow: 0px -22px 41px -34px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px -22px 41px -34px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -22px 41px -34px rgba(0, 0, 0, 0.2);
	background-color: rgba(255, 255, 255, 0.9);
}
.wrapper {
	min-height: 100%;
	height: auto !important; /* This line and the next line are not necessary unless you need IE6 support */
	height: 100%;
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
}
.footer {
	background-color: #fff;
	font-family: 'Raleway', sans-serif;
	color: #000000;
	height: 100px;
	font-size: 13px;
	padding-top: 40px;/* .push must be the same height as .footer */
}
.footer a {
	color: #000;
}
.push {
	background-color: transparent;
	color: #000000;
	height: 100px;
	font-size: 16px;
	padding-top: 30px;
/* .push must be the same height as .footer */}
.navbar-toggle .icon-bar:nth-of-type(2) {
	top: 1px;
}
.navbar-toggle .icon-bar:nth-of-type(3) {
	top: 2px;
}
.navbar-toggle .icon-bar {
	position: relative;
	transition: all 500ms ease-in-out;
}
.navbar-toggle.active .icon-bar:nth-of-type(1) {
	top: 6px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-ms-transform-origin: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-webkit-transform-origin: rotate(45deg);
}
.navbar-toggle.active .icon-bar:nth-of-type(2) {
	background-color: transparent;
}
.navbar-toggle.active .icon-bar:nth-of-type(3) {
	top: -6px;
	transform: rotate(-45deg);
	-ms-transform-origin: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-webkit-transform-origin: rotate(-45deg);
}

.navbar-logo-position:hover {-webkit-transition: .2s;
-moz-transition: .2s;
transition: .2s;opacity:0.5}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {background-color: transparent}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {background-color: transparent}

.form-control {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: none;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.search-container {right:0px; top:130px; height:60px; z-index:9999; position:fixed; background-color:white;}
.search-container a {-webkit-transition: .2s;
-moz-transition: .2s;
transition: .2s;}
.search-inner {width:90px; color:black; font-size:180%; width:60px;height:60px;}
.fa-search {padding-left:15px;}


.news-container {
right: 0px;
top: 250px;
height: 80px;
z-index: 9999;
position: fixed;
opacity: 1;
}

.news-inner {width:90px; color:black; font-size:180%; width:60px;height:80px;background-color:white}

.news-summary {
    font-size: 14px;
    height: 92px;
    line-height: 28px;
    margin-bottom: 10px;
    text-overflow: ellipsis;
	overflow: hidden;
}
.news-summary p {
	margin-bottom:1em;
}

.fa-newspaper-o {padding-left:15px;}

.btn-search {
	border-radius: 0px;
	background-color: transparent;
	border: white solid 1px;
	color:black;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	transition: .7s;
	}
.mobile-search {background-color: rgba(225, 225, 225, 0.7); position:fixed; top:120px; z-index:9999; height:40px; width:100%;}
.btn-search:hover {color:black;background-color: white;}
#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    -webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
	-moz-transform: translate(0px, -100%) scale(0, 0);
	-o-transform: translate(0px, -100%) scale(0, 0);
	-ms-transform: translate(0px, -100%) scale(0, 0);
	transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
	-o-transform: translate(0px, 0px) scale(1, 1);
	-ms-transform: translate(0px, 0px) scale(1, 1);
	transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
   top: 190px;
   right: 0px;
   height: 60px;
   width: 60px;
   color: #000;
	background-color: #fff;
	border-color: #357ebd;
	opacity: 1;
	padding: 0px 17px;
	font-size: 42px;
}

.alert {
    padding: 1em;
    background: yellow;
}



