

@media (max-width:480px) { 
.clipping-wrap {
   
    max-height:250px;
    overflow:hidden;

  }

.img-clip {
    
    width: 100%; 
    min-height: 200px;

}
}

@media (max-width: 767px) {
.megamenu {
	margin-left: 0;
	margin-right: 0;
}
.megamenu> li {
	margin-bottom: 30px;
}
.megamenu> li:last-child {
	margin-bottom: 0;
}
.megamenu.dropdown-header {
	padding: 3px 15px !important;
}
.navbar-nav .open .dropdown-menu .dropdown-header {
	color: #fff;
}
.nav-height {
	height: 138px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #e7e7e7;
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 81px;
	padding-top: 0px;
	font-size: 20px;
	text-align: left;
	padding-left: 40px!important;
}
.mobile-brand {
	position: absolute;
	top: 0px;
}
.carousel-caption {
	top: 130px!important;
	height: 110px;
	/* padding-top:35px; */ 
	text-align: left;
	font-size: 65%;
	left: 25%;
	padding-left: 0%;
}
.brand-accent {
	position: relative;
	height: 50px;
	width: 50px;
	top: 15px;
	left: -30px;
}
.fa-search {
	padding-left: 15px!important;
	padding-top: 7px
}
}

/*
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
	
}*/

@media (max-width: 767px) {
.pull-left-xs {
	float: left!important;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}
.navbar-default .navbar-nav > li a {
	color: white;
	padding-bottom: 10px;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: black;
	background-color: white;
	width: 100%;
}
.dropdown-header h5 {
	color: white;
	font-size: 13px;
}
.navbar-collapse {
	border-top: 0px solid transparent;
}
.body-padding {
	margin-top: 150px;
}


@media (max-width: 800px) {
.nav-right {
	float: left;
}
.navbar-fixed-bottom {
	height: 180px;
}
}

@media (min-width: 768px) {
.dropdown {
	font-size: 17px;
}
.container {
	width: 770px;
}
.navbar-logo-position {
	position: relative;
	top: 10px;
	left: -15px;
}
}
 @media (min-width: 992px) {
.container {
	width: 980px;
}

