﻿@model Atebion_BDS.Models.AccordianTemplate

<div class="wrapper">
    <!---- MAIN PAGE CONTENT /// START ---->
    <div class="container">
        <!---- BREADCRUMB /// START ---->
        <ul class="breadcrumb body-padding">
            <li><a>@Model.NodeParentName</a></li>
            <li><a>@Model.Name</a></li>
        </ul>
        <!---- BREADCRUMB /// END ---->
        <div class="row">
            <div class="col-md-12">
                <h4 class="primary-brand-color m-b-30"><strong>@Model.Name</strong></h4>
            </div>
        </div>
        <div class="row">
            @{ var colWidth = "col-lg-12";}
            @if (!Model.HideQuote)
            {
                colWidth = "col-lg-7";
                <div class="col-lg-5">
                    <img src="@Model.QuoteBlock.QuoteImage" alt="" style="width: 100%;">
                    <div class="thumbnail">
                        <div class="caption quotes">
                            <img src="/img/brand-accent.png" height="30" width="28"/>
                            <p>@Model.QuoteBlock.QuoteText</p>
                            <p class="small"><strong>@Model.QuoteBlock.QuoteSource</strong>
                            </p>
                        </div>
                    </div>
                </div>
            }
            <div class="@colWidth">
                @Html.Raw(Model.MainText)
                <div class="panel-group" id="accordion_reg" role="tablist" aria-multiselectable="true">
                    @{
                        var accordianCount = 0;
                    }
                    @foreach (var accordianItem in Model.AccordianItems)
                    {
                        var collapsed = accordianCount == 0 ? "" : "collapsed";
                        var ariaExpanded = accordianCount == 0 ? "true" : "false";
                        var inWord = accordianCount == 0 ? "in" : "";
                        var headingId = "heading" + accordianCount;
                        var bodyId = "body" + accordianCount;
                        var hrefBodyId = "#" + bodyId;
                        accordianCount++;

                        <div class="panel panel-default">
                            <a role="button" data-toggle="collapse" data-parent="#accordion_reg" href="@hrefBodyId" aria-expanded="@ariaExpanded" aria-controls="@bodyId">
                                <div class="panel-heading" role="tab" id="@headingId">
                                    <h4 class="panel-title">
                                        <span class="glyphicon glyphicon-plus"></span>&nbsp;@accordianItem.Title
                                    </h4>
                                </div>
                            </a>
                            <div id="@bodyId" class="panel-collapse collapse @inWord" role="tabpanel" aria-labelledby="@headingId">
                                <div class="panel-body body-copy">
                                    @Html.Raw(accordianItem.Text)
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>          