﻿@model Atebion_BDS.Models.AssetItem

<div class="wrapper">
    <!-- Page Content -->
    <div class="container">
        <ul class="breadcrumb body-padding">
            <li>Portfolio</li>
            <li><a>@Model.Name</a></li>
        </ul>
        <div class="row">
            <div class="col-md-6">
                <h4 class="primary-brand-color"><strong>@Model.Name</strong></h4>
                @Html.Raw(Model.MainText)
            </div>
            <div class="col-md-6"> <img src="@Model.Image" alt="" style="width:100%;"> </div>
        </div>
    </div>
    <div class="push"></div>
</div>