﻿@model Atebion_BDS.Models.AssetPortfolioTemplate

<div class="wrapper">
    <!-- Page Content -->
    <div class="container-fluid">
        <div class="row body-padding">
            <div class="col-lg-7">
                @Html.Raw(Model.MainText)
            </div>
        </div>
        <div class="row">
            <ul class="thumbnails">
                @foreach (var assetItem in Model.AssetItems)
                {
                    <a href="@assetItem.ShortUrl">
                        <div class="col-md-4 col-sm-12">
                            <div class="thumbnail">
                                <div class="clipping-wrap">
                                    <img src="@assetItem.Image" alt="ALT NAME" class="img-responsive portfolio img-clip" />
                                </div>

                                <div class="caption portfolio-caption">
                                    <p class="body-copy">@assetItem.Name</p>
                                </div>
                            </div>
                        </div>
                    </a>
                }



                @*<a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_1.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">BN-201</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_2.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">ABG1039</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_3.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">Link_TSG6 programme</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_4.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">Novel, small molecule FX11a</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_5.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">BN-201</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_6.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">AVG1039</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_7.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">Link_TSG6 programme</p>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="template_1_portfolio.html">
                        <div class="col-md-3">
                            <div class="thumbnail">
                                <img src="img/portfolio_8.jpg" alt="ALT NAME" class="img-responsive portfolio"/>
                                <div class="caption portfolio-caption">
                                    <p class="body-copy">Novel, small molecule FX11a</p>
                                </div>
                            </div>
                        </div>
                    </a>*@
            </ul>
        </div>
    </div>
    <div class="push"></div>
</div>
