﻿@using Atebion_BDS.Controller.SurfaceController
@model Atebion_BDS.Models.Contact

<div class="wrapper">
    <!-- Page Content -->

    <div class="container">
        <div class="row contact">
            <div class="col-xs-12">
                <h4 class="primary-brand-color m-b-30"><strong>Contact</strong></h4>
            </div>
            <div class="col-md-9">
                <div class="form-area">
                    @using (Html.BeginUmbracoForm<MainSurfaceController>("HandleContact", null, new { id = "contact-form" }))
                    {
                        @*<form role="form">*@
                        <br style="clear: both">
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.FormName, new { @class = "form-control", placeholder = "Name", @Value = "", required = "required" })
                            @*<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>*@
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.FormEmail, new { type = "email", @class = "form-control", placeholder = "Email", @Value = "", required = "required" })
                            @*<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>*@
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.FormAddress, new { @class = "form-control", placeholder = "Address", @Value = "", required = "required" })
                            @*<input type="text" class="form-control" id="address" name="address" placeholder="Address" required>*@
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.FormSubject, new { @class = "form-control", placeholder = "Subject", @Value = "", required = "required" })
                            @*<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>*@
                        </div>
                        <div class="form-group">
                            @Html.TextAreaFor(model => model.FormMessage, new { @class = "form-control", placeholder = "Message", maxlength = "140", @rows = 7, @Value = "" })
                            @*<textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>*@
                        </div>
                        @*<button type="button" id="submit" name="submit" class="btn sample btn-lg btn-carousel btn-search">Submit Form</button>*@
                        <input type="submit" id="submit" class="btn sample btn-lg btn-carousel btn-search" name="submit" value="Submit Form">
                        @*</form>*@
                    }
                </div>
            </div>
            <div class="col-md-3">
                <h4 class="primary-brand-color p-t-10"><strong>Find Us</strong></h4>
                @Html.Raw(Model.AtebionAddress)
                <address>
                    <strong>Full Name</strong><br>
                    <a href="mailto:@Model.AtebionEmail">@Model.AtebionEmail</a>
                </address>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row google-map">
            <div class="col-sm-12">
                <iframe src="@Model.GoogleMapsUrl" width="100%" height="450" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>