﻿@model Atebion_BDS.Models.HomeModel




<header id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    @*<ol class="carousel-indicators">*@
    @{
        var carouselCount = 0;
    }
    @foreach (var carouselItem in Model.CarouselItems)
    {
        @*var active = carouselCount == 0 ? "active" : "";
            <li data-target="#myCarousel" data-slide-to="@carouselCount" class="@active"></li>*@
        carouselCount++;
    }
    @*</ol>*@
    <!-- Wrapper for Slides -->


    <div class="carousel-inner">
        @{
            carouselCount = 0;
        }
        @foreach (var carouselItem in Model.CarouselItems)
        {
            var active = carouselCount == 0 ? "active" : "";
            <div class="item @active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image: url('@carouselItem.Image');"></div>
                <div class="carousel-caption">
                    <div class="brand-accent">
                        <img src="../img/brand-accent.png" height="70" width="66" />
                    </div>
                    <h2>@carouselItem.Text</h2>
                    @if (!bool.Parse(carouselItem.HideLink))
                    {
                        <a href="@carouselItem.PageLink">
                            <button class="btn sample btn-lg btn-carousel"><strong>Read More</strong></button>
                        </a>
                    }

                </div>
            </div>
            carouselCount++;
        }
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"> <span class="icon-prev"></span> </a> <a class="right carousel-control" href="#myCarousel" data-slide="next"> <span class="icon-next"></span> </a>
</header>