﻿@model Atebion_BDS.Models.ImageTemplate

<div class="wrapper">
    <!-- Page Content -->
    <div class="container">
        <ul class="breadcrumb body-padding">
            <li><a>@Model.NodeParentName</a></li>
            <li><a>@Model.Name</a></li>
        </ul>
        <div class="row">
            <div class="col-md-8">
                <div class="col-md-12 padding-0">
                    <h4 class="primary-brand-color"><strong>@Model.Name</strong></h4>
                    @Html.Raw(Model.MainText)
                    <br>
                    <img src="@Model.Image" class="img-responsive" />
                </div>
            </div>
            <div class="col-md-4 col-sm-4 body-copy">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br>
                    @Html.Raw(Model.RightText)
                </div>
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>