﻿@model Atebion_BDS.Models.NewsItem

<div class="wrapper">
    <!-- Page Content -->
    <div class="container">
        <ul class="breadcrumb body-padding">
            <li><a href="/news">News</a></li>
            <li><a>@Model.Name</a></li>
        </ul>
        <div class="row">
            @*<div class="col-md-12">
                    <h4 class="primary-brand-color m-b-30"><strong>Recent news</strong></h4>
                </div>*@
        </div>

        <div class="row">
            <div class="col-md-3">
                <a href="#" class="thumbnail"> <img src="@Model.Image" alt=""> </a>
            </div>
            <div class="col-md-9">
                <h4><a href="#">@Model.Name</a></h4>
                @Html.Raw(Model.MainText)
                <!-- <br />
                <ul class="list-inline">
                    <li><i class="glyphicon glyphicon-user"></i> by <a href="#">@Model.Author</a> | </li>
                    <li><i class="glyphicon glyphicon-calendar"></i> @Model.PublishedDate | </li>
                </ul> -->
            </div>
        </div>
    </div>
    <div class="push"></div>
</div>