﻿@model Atebion_BDS.Models.NewsTemplate

<div class="wrapper">
    <!-- Page Content -->
    <div class="container">
        <ul class="breadcrumb body-padding">
            <li><a>@Model.Name</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <h4 class="primary-brand-color m-b-30"><strong>Recent news</strong></h4>
            </div>
        </div>

        @foreach (var newsItem in Model.NewsItems)
        {
            <div class="row">
                <div class="col-md-3">
                    <a href="@newsItem.ShortUrl" class="thumbnail"> <img src="@newsItem.Image" alt=""> </a>
                </div>
                <div class="col-md-9">
                    <h4><a href="@newsItem.ShortUrl">@newsItem.Name</a></h4>
                    <div class="news-summary">
                        @Html.Raw(newsItem.MainText)
                    </div>
                    <p>
                        <a class="btn btn-info btn-sm" href="@newsItem.ShortUrl">Read more</a>
                    </p>
                    <!-- <br/>
                    <ul class="list-inline">
                        <li><i class="glyphicon glyphicon-user"></i> by <a href="#">@newsItem.Author</a> | </li>
                        <li><i class="glyphicon glyphicon-calendar"></i> @newsItem.PublishedDate | </li>
                    </ul> -->
                </div>
            </div>
            <hr>
        }
    </div>
    <div class="push"></div>
</div>