﻿@model Atebion_BDS.Models.ProfilesTemplate

<div class="wrapper">
    <!-- Page Content -->
    <div class="container">
        <ul class="breadcrumb body-padding">
            <li><a>@Model.NodeParentName</a></li>
            <li><a>@Model.Name</a></li>
        </ul>
        <div class="row">
            <div class="col-md-12">
                <h4 class="primary-brand-color m-b-30"><strong>Profiles</strong></h4>
            </div>
        </div>

        @foreach (var profileItem in Model.ProfileItems)
        {
            <div class="wrap-thumbnails m-b-50">
                <div class="row">
                    <div class="col-md-3">
                        <img src="@profileItem.Image" alt="" style="width:100%;">
                        <div class="thumbnail">
                            <div class="caption names">
                                <h5>@profileItem.Name</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 body-copy">
                        @Html.Raw(profileItem.MainText)
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="push"></div>
</div>