﻿@model Atebion_BDS.Models.StandardTemplate

<div class="wrapper">
    <!---- MAIN PAGE CONTENT /// START ---->
    <div class="container">
        <!---- BREADCRUMB /// START ---->
        <ul class="breadcrumb body-padding">
            <li><a>@Model.NodeParentName</a></li>
            <li><a>@Model.Name</a></li>
        </ul>
        <!---- BREADCRUMB /// END ---->
        <div class="row">
            <div class="col-lg-7">
                <h4 class="primary-brand-color m-b-30"><strong>@Model.Name</strong></h4>
                @Html.Raw(Model.MainText)
            </div>
            <!---- TESTIMONIALS MODULE /// START ---->
            <div class="col-lg-5">
                <img src="@Model.QuoteBlock.QuoteImage" class="img-responsive">
                <div class="thumbnail">
                    <div class="caption quotes">
                        <img src="img/brand-accent.png" height="30" width="28" />
                        <p>@Model.QuoteBlock.QuoteText</p>
                        <p class="small"><strong>@Model.QuoteBlock.QuoteSource</strong>
                    </div>
                </div>
            </div>
            <!---- TESTIMONIALS MODULE /// END ---->
        </div>
    </div>
    <div class="push"></div>
</div>