﻿@using Atebion_BDS.Infrastructure
@using Atebion_BDS.Models
@using Template = Atebion_BDS.Models.Template
@inherits UmbracoTemplatePage
@{
    Layout = "Base.cshtml";
    var buildFactory = new BuildFactory();
    var menu = buildFactory.BuildMenu();

}
@section BodyClass{@RenderSection("BodyClass", false)}

<div class="navbar navbar-default navbar-fixed-top nav-height" id="@RenderSection("HeaderId", false)">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <p class="menu-title">MENU</p>
                <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span>
            </button>
            <a class="navbar-brand pull-left mobile-brand" href="/"><img src="/img/brand_logo_original.png" class="img-responsive navbar-logo-position" height="87" width="310"></a>
        </div>
        <div class="navbar-collapse collapse nav-padding-left">
            <ul class="nav navbar-nav pull-right pull-left-xs">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                @foreach (var subMenu in menu.SubMenus)
                {
                    <li class="dropdown menu-large">
                        @{
                    if (subMenu.GetType() == typeof(MenuItem))
                    {
                        var menuItem = (MenuItem)subMenu;
                        int subGroupCount = 1;
                        var firstSubGroupClass = "";

                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menuItem.Name <b class="caret"></b></a>
                            <ul class="dropdown-menu megamenu row">
                                @foreach (var subGroup in menuItem.Subgroups)
                                {
                                    firstSubGroupClass = (subGroupCount == 1) ? "col-md-offset-2" : "";
                                    <li class="col-md-2 @firstSubGroupClass col-sm-4">
                                        <ul>
                                            <li class="dropdown-header"></li>
                                            @foreach (var template in subGroup.Templates)
                                            {
                                                if (template.GetType() == typeof(AccordianTemplate))
                                                {
                                                    var accordianTemplate = (AccordianTemplate)template;
                                                    <li><a href="/@accordianTemplate.ShortUrl">@accordianTemplate.Name</a></li>
                                                }
                                                if (template.GetType() == typeof(ImageTemplate))
                                                {
                                                    var imageTemplate = (ImageTemplate)template;
                                                    <li><a href="/@imageTemplate.ShortUrl">@imageTemplate.Name</a></li>
                                                }
                                                if (template.GetType() == typeof(ProfilesTemplate))
                                                {
                                                    var profilesTemplate = (ProfilesTemplate)template;
                                                    <li><a href="/@profilesTemplate.ShortUrl">@profilesTemplate.Name</a></li>
                                                }
                                                if (template.GetType() == typeof(StandardTemplate))
                                                {
                                                    var standardTemplate = (StandardTemplate)template;
                                                    <li><a href="/@standardTemplate.ShortUrl">@standardTemplate.Name</a></li>
                                                }
                                            }
                                        </ul>
                                    </li>
                                            subGroupCount++;
                                }
                            </ul>
                    }
                    else
                    {
                        if (subMenu.GetType() == typeof(AccordianTemplate))
                        {
                            var accordianTemplate = (AccordianTemplate)subMenu;
                            <a href="/@accordianTemplate.ShortUrl">@accordianTemplate.Name</a>
                        }
                        if (subMenu.GetType() == typeof(ImageTemplate))
                        {
                            var imageTemplate = (ImageTemplate)subMenu;
                            <a href="/@imageTemplate.ShortUrl">@imageTemplate.Name</a>
                        }
                        if (subMenu.GetType() == typeof(ProfilesTemplate))
                        {
                            var profilesTemplate = (ProfilesTemplate)subMenu;
                            <a href="/@profilesTemplate.ShortUrl">@profilesTemplate.Name</a>
                        }
                        if (subMenu.GetType() == typeof(StandardTemplate))
                        {
                            var standardTemplate = (StandardTemplate)subMenu;
                            <a href="/@standardTemplate.ShortUrl">@standardTemplate.Name</a>
                        }
                        if (subMenu.GetType() == typeof(AssetPortfolioTemplate))
                        {
                            var assetTemplate = (AssetPortfolioTemplate)subMenu;
                            <a href="/@assetTemplate.ShortUrl">@assetTemplate.Name</a>
                        }
                    }
                        }
                    </li>
                }
                <li class="dropdown menu-large"> <a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span></a></li>
            </ul>
        </div>
    </div>
</div>
@*<ul class="nav navbar-nav navbar-right search-container">
    <li><a href="\search" class="search-inner"><i class="fa fa-search"></i></a></li>
</ul>*@
<ul class="nav navbar-nav navbar-right news-container">
    <li><a href="\news" class="news-inner"><i class="fa fa-newspaper-o"></i><span class="extra-extra-small" style="padding-left:5px;">NEWS</span></a></li>
</ul>
@RenderBody()
<div class="footer">
    <div class="container">
        <ul class="list-inline">
            <li><span><a href="\news">Latest news</a></span></li>
            <li><span><a href="\business-development-services">Business development services</a></span></li>
            <li><span><a href="\investment_decision_process">Investment decision process</a></span></li>
        </ul>
    </div>
</div>
<!-- /.container -->
<!-- jQuery -->
@*<script src="/js/jquery.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

<!--If included then breaks form action, if hidden then breaks nav...-->
<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>

<!-- Script to Activate the Carousel -->
<script type="text/javascript">
    /* $('.carousel').carousel({
         interval: 5000 //changes the speed

    })*/

</script>