﻿@using Atebion_BDS.Infrastructure
@using Atebion_BDS.Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Welcome to AtebionBDS / 2016</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/full-slider.css" rel="stylesheet">
    <link href="/css/global.css" rel="stylesheet">
    <link href="/css/mediaQueries.css" rel="stylesheet">
    <link href="/css/rte.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body class="blue">
    @{
        var buildFactory = new BuildFactory();
        var menu = buildFactory.BuildMenu();
        var umbracoHelper = new UmbracoHelper(UmbracoContext.Current);

    }
    <div class="navbar navbar-default navbar-fixed-top nav-height" id="secondary-page">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <p class="menu-title">MENU</p>
                    <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span>
                </button>
                <a class="navbar-brand pull-left mobile-brand" href="/"><img src="/img/brand_logo_original.png" class="img-responsive navbar-logo-position" height="87" width="310"></a>
            </div>
            <div class="navbar-collapse collapse nav-padding-left">
                <ul class="nav navbar-nav pull-right pull-left-xs">
                    <li><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                    @foreach (var subMenu in menu.SubMenus)
                    {
                        <li class="dropdown menu-large">
                            @{
                        if (subMenu.GetType() == typeof(MenuItem))
                        {
                            var menuItem = (MenuItem)subMenu;
                            int subGroupCount = 1;
                            var firstSubGroupClass = "";

                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">@menuItem.Name <b class="caret"></b></a>
                                <ul class="dropdown-menu megamenu row">
                                    @foreach (var subGroup in menuItem.Subgroups)
                                    {
                                        firstSubGroupClass = (subGroupCount == 1) ? "col-md-offset-2" : "";
                                        <li class="col-md-2 @firstSubGroupClass col-sm-4">
                                            <ul>
                                                <li class="dropdown-header"></li>
                                                @foreach (var template in subGroup.Templates)
                                                {
                                                    if (template.GetType() == typeof(AccordianTemplate))
                                                    {
                                                        var accordianTemplate = (AccordianTemplate)template;
                                                        <li><a href="@accordianTemplate.ShortUrl">@accordianTemplate.Name</a></li>
                                                    }
                                                    if (template.GetType() == typeof(ImageTemplate))
                                                    {
                                                        var imageTemplate = (ImageTemplate)template;
                                                        <li><a href="@imageTemplate.ShortUrl">@imageTemplate.Name</a></li>
                                                    }
                                                    if (template.GetType() == typeof(ProfilesTemplate))
                                                    {
                                                        var profilesTemplate = (ProfilesTemplate)template;
                                                        <li><a href="@profilesTemplate.ShortUrl">@profilesTemplate.Name</a></li>
                                                    }
                                                    if (template.GetType() == typeof(StandardTemplate))
                                                    {
                                                        var standardTemplate = (StandardTemplate)template;
                                                        <li><a href="@standardTemplate.ShortUrl">@standardTemplate.Name</a></li>
                                                    }
                                                }
                                            </ul>
                                        </li>
                                                subGroupCount++;
                                    }
                                </ul>
                        }
                        else
                        {
                            if (subMenu.GetType() == typeof(AccordianTemplate))
                            {
                                var accordianTemplate = (AccordianTemplate)subMenu;
                                <a href="@accordianTemplate.ShortUrl">@accordianTemplate.Name</a>
                            }
                            if (subMenu.GetType() == typeof(ImageTemplate))
                            {
                                var imageTemplate = (ImageTemplate)subMenu;
                                <a href="@imageTemplate.ShortUrl">@imageTemplate.Name</a>
                            }
                            if (subMenu.GetType() == typeof(ProfilesTemplate))
                            {
                                var profilesTemplate = (ProfilesTemplate)subMenu;
                                <a href="@profilesTemplate.ShortUrl">@profilesTemplate.Name</a>
                            }
                            if (subMenu.GetType() == typeof(StandardTemplate))
                            {
                                var standardTemplate = (StandardTemplate)subMenu;
                                <a href="@standardTemplate.ShortUrl">@standardTemplate.Name</a>
                            }
                            if (subMenu.GetType() == typeof(AssetPortfolioTemplate))
                            {
                                var assetTemplate = (AssetPortfolioTemplate)subMenu;
                                <a href="@assetTemplate.ShortUrl">@assetTemplate.Name</a>
                            }
                        }
                            }
                        </li>
                    }
                    <li class="dropdown menu-large"> <a href="/contact/"><span class="glyphicon glyphicon-earphone"></span>&nbsp;&nbsp;<span class="glyphicon glyphicon-envelope"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right search-container">
        <li><a href="\search" class="search-inner"><i class="fa fa-search"></i></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right news-container">
        <li><a href="\news" class="news-inner"><i class="fa fa-newspaper-o"></i><span class="extra-extra-small" style="padding-left:5px;">NEWS</span></a></li>
    </ul>

    <div class="wrapper">
        <!-- Page Content -->
        <div class="container">
            <ul class="breadcrumb body-padding">
                <li><a>Search</a></li>
            </ul>
            <div class="row">
                <div class="col-md-12">
                    @*<h4 class="primary-brand-color m-b-30"><strong>Recent news</strong></h4>*@
                </div>
            </div>
            @umbracoHelper.RenderMacro("ezSearch", new { rootContentNodeId = "", rootMediaNodeId = "", indexType = "CONTENT", searchFields = "", previewFields = "", previewLength = "250", pageSize = "10", hideFromSearchField = "", searchFormLocation = "" })

        </div>
        <div class="push"></div>
    </div>

    <div class="footer">
        <div class="container">
            <ul class="list-inline">
                <li><span><a href="">Latest news</a></span></li>
                <li><span><a href="">Business development services</a></span></li>
                <li><span><a href="">Investment decision process</a></span></li>
            </ul>
        </div>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <!--If included then breaks form action, if hidden then breaks nav...-->
    <script src="/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/scripts.js"></script>
    <!-- Script to Activate the Carousel -->
    <script type="text/javascript">
        /* $('.carousel').carousel({
             interval: 5000 //changes the speed

        })*/

    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/main.js"></script>
</body>
</html>